openapi: 3.2.0
info:
  title: Media Instagram API
  description: Curalate Media API
  version: V1
servers:
- url: https://edge.curalate.com
tags:
- name: Instagram
paths:
  /v1/instagram/media:
    get:
      tags:
      - Instagram
      summary: Retrieve Instagram media items for the user
      parameters:
      - name: accessToken
        in: query
        required: true
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthAccessToken
        x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthAccessToken
      - name: limit
        in: query
        schema:
          type: integer
          format: int64
          example: 10
      - name: before
        in: query
        schema:
          type: string
          example: '1234567894561231236_33215652'
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
      - name: after
        in: query
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
      responses:
        '200':
          description: The operation completed successfully and yielded results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInstagramMediaResponse'
        '400':
          description: The input parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: A requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: An unhandled exception has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '503':
          description: API is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /v1/instagram/auth/{accessToken}/validation:
    get:
      tags:
      - Instagram
      summary: Validate an Instagram OAuth token
      parameters:
      - name: accessToken
        in: path
        required: true
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthAccessToken
        x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthAccessToken
      responses:
        '200':
          description: The operation completed successfully and yielded results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidTokenResponse'
        '400':
          description: The input parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: A requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: An unhandled exception has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '503':
          description: API is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /v1/instagram/auth/{code}/exchange:
    get:
      tags:
      - Instagram
      summary: Exchange an Instagram auth code for a long-life token
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthCode
        x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthCode
      - name: redirectUri
        in: query
        schema:
          type: string
      responses:
        '200':
          description: The operation completed successfully and yielded results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeCodeResponse'
        '400':
          description: The input parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: A requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: An unhandled exception has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '503':
          description: API is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
components:
  schemas:
    ErrorPayload:
      required:
      - code
      - errorId
      type: object
      properties:
        code:
          type: string
          enum:
          - Unknown
          - MediaApiBadRequest
          - InvalidInput
        errorId:
          type: string
          format: uuid
        msg:
          type: string
        data:
          type: object
          properties: {}
    MediaApiPaging:
      required:
      - cursors
      type: object
      properties:
        cursors:
          $ref: '#/components/schemas/Cursors'
        previous:
          type: string
          format: url
        next:
          type: string
          format: url
    ValidTokenResponse:
      type: object
    ExchangeCodeResponse:
      required:
      - accessToken
      - userId
      type: object
      properties:
        accessToken:
          type: string
        userId:
          type: string
        username:
          type: string
    GetInstagramMediaData:
      required:
      - items
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ExternalMedia'
    Cursors:
      type: object
      properties:
        before:
          type: string
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
        after:
          type: string
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
    GetInstagramMediaResponse:
      required:
      - data
      - paging
      type: object
      properties:
        data:
          $ref: '#/components/schemas/GetInstagramMediaData'
        paging:
          $ref: '#/components/schemas/MediaApiPaging'
    ExternalMedia:
      required:
      - id
      - link
      - type
      type: object
      properties:
        caption:
          type: string
        id:
          type: string
        link:
          type: string
          format: url
        posterImageLink:
          type: string
          format: url
        type:
          type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      name: X-Curalate-Api-Key
      in: header
