openapi: 3.0.1
info:
  title: Media API
  description: Curalate Media API
  version: V1
servers:
- url: https://edge.curalate.com
paths:
  /v1/media/{dataSourceId}:
    get:
      tags:
      - Media
      summary: Get media
      description: Gets media items for a data source
      parameters:
      - name: dataSourceId
        in: path
        required: true
        schema:
          type: string
          example: DKQGLerBTQCDXwNS
          x-qualified-classname: com.curalate.datasourcemanagement.model.api.v1.DataSourceId
        x-qualified-classname: com.curalate.datasourcemanagement.model.api.v1.DataSourceId
      - name: filter
        in: query
        schema:
          type: string
          example: productId:leather-jacket
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.FilterQuery
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.FilterQuery
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - Latest
          - Likes
          - Moderation
          - Optimized
          - LastUpdated
      - name: limit
        in: query
        schema:
          type: integer
          format: int64
          example: 10
      - name: before
        in: query
        schema:
          type: string
          example: 6ca1a4ad-fb10-41fa-abab-78531a80531e_1487593595790
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
      - name: after
        in: query
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
      - name: offset
        in: query
        schema:
          type: integer
          format: int64
          example: 10
      - name: locale
        in: query
        schema:
          type: string
          example: en-US
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.LocaleString
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.LocaleString
      - name: productMetadata
        in: query
        schema:
          type: string
          example: age,gender
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.ProductMetadataQuery
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.ProductMetadataQuery
      - name: requireProduct
        in: query
        schema:
          type: boolean
          example: true
      - name: parameterizeProducts
        in: query
        schema:
          type: boolean
          default: false
      - name: appId
        in: query
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.AppId
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.AppId
      - name: networkSource
        in: query
        schema:
          type: string
          enum:
          - Pinterest
          - Facebook
          - Instagram
          - Twitter
          - Tumblr
          - Snapchat
          - TikTok
          - YouTube
          - MediaImport
          example: Instagram
      - name: noExpired
        in: query
        schema:
          type: boolean
          default: false
      - name: skipMetrics
        in: query
        schema:
          type: boolean
          example: true
      - name: showRatings
        in: query
        schema:
          type: boolean
          default: false
      - name: rid
        in: query
        description: Request id used to identify items within a single request
        schema:
          type: string
      - name: src
        in: query
        description: Source url of the requesting content
        schema:
          type: string
      - name: fpcuid
        in: query
        description: First party cookie id of the requesting user
        schema:
          type: string
      - name: eid
        in: query
        description: Experiment id for the user's experiment
        schema:
          type: string
      - name: vid
        in: query
        description: Variation id for the user's experiment
        schema:
          type: string
      responses:
        '200':
          description: The operation completed successfully and yielded results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMediaResponse'
        '400':
          description: The input parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: A requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: An unhandled exception has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '503':
          description: API is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /v1/media/{dataSourceId}/items/{itemId}:
    get:
      tags:
      - Media
      summary: Get media item
      parameters:
      - name: dataSourceId
        in: path
        required: true
        schema:
          type: string
          example: DKQGLerBTQCDXwNS
          x-qualified-classname: com.curalate.datasourcemanagement.model.api.v1.DataSourceId
        x-qualified-classname: com.curalate.datasourcemanagement.model.api.v1.DataSourceId
      - name: itemId
        in: path
        required: true
        schema:
          type: string
          example: fe502c92-e9b5-45ee-ad3a-429c1e94f9c4
          x-qualified-classname: com.curalate.services.deets.model.api.v1.DeetsItemId
        x-qualified-classname: com.curalate.services.deets.model.api.v1.DeetsItemId
      - name: productMetadata
        in: query
        schema:
          type: string
          example: age,gender
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.ProductMetadataQuery
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.ProductMetadataQuery
      - name: parameterizeProducts
        in: query
        schema:
          type: boolean
          default: false
      - name: locale
        in: query
        schema:
          type: string
          example: en-US
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.LocaleString
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.LocaleString
      - name: appId
        in: query
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.AppId
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.AppId
      - name: noExpired
        in: query
        schema:
          type: boolean
          default: false
      - name: showRatings
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: The operation completed successfully and yielded results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMediaItemResponse'
        '400':
          description: The input parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: A requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: An unhandled exception has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '503':
          description: API is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /v1/media/{dataSourceId}/items/{itemId}/recommendations:
    get:
      tags:
      - Media
      summary: Get media item recommendations
      parameters:
      - name: dataSourceId
        in: path
        required: true
        schema:
          type: string
          example: DKQGLerBTQCDXwNS
          x-qualified-classname: com.curalate.datasourcemanagement.model.api.v1.DataSourceId
        x-qualified-classname: com.curalate.datasourcemanagement.model.api.v1.DataSourceId
      - name: itemId
        in: path
        required: true
        schema:
          type: string
          example: fe502c92-e9b5-45ee-ad3a-429c1e94f9c4
          x-qualified-classname: com.curalate.services.deets.model.api.v1.DeetsItemId
        x-qualified-classname: com.curalate.services.deets.model.api.v1.DeetsItemId
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          example: 10
      responses:
        '200':
          description: The operation completed successfully and yielded results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRecommendedMediaResponse'
        '400':
          description: The input parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: A requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: An unhandled exception has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '503':
          description: API is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /v1/media/{dataSourceId}/images/top:
    get:
      tags:
      - Media
      summary: Get top media image for a data source
      parameters:
      - name: dataSourceId
        in: path
        required: true
        schema:
          type: string
          example: DKQGLerBTQCDXwNS
          x-qualified-classname: com.curalate.datasourcemanagement.model.api.v1.DataSourceId
        x-qualified-classname: com.curalate.datasourcemanagement.model.api.v1.DataSourceId
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
          example: 10
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - Latest
          - Likes
          - Moderation
          - Optimized
          - LastUpdated
      - name: filter
        in: query
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.FilterQuery
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.FilterQuery
      - name: fallbackImage
        in: query
        schema:
          type: string
      - name: width
        in: query
        schema:
          type: integer
          format: int32
          example: 400
      - name: height
        in: query
        schema:
          type: integer
          format: int32
          example: 400
      - name: appId
        in: query
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.AppId
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.AppId
      - name: networkSource
        in: query
        schema:
          type: string
          enum:
          - Pinterest
          - Facebook
          - Instagram
          - Twitter
          - Tumblr
          - Snapchat
          - TikTok
          - MediaImport
      responses:
        '200':
          description: The operation completed successfully and yielded results.
          content:
            image/*: {}
        '400':
          description: The input parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: A requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: An unhandled exception has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '503':
          description: API is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /v1/media/report/{dataSourceId}/items/{itemId}:
    post:
      tags:
      - Report
      summary: Allows end users to report media
      parameters:
      - name: dataSourceId
        in: path
        required: true
        schema:
          type: string
          example: DKQGLerBTQCDXwNS
          x-qualified-classname: com.curalate.datasourcemanagement.model.api.v1.DataSourceId
        x-qualified-classname: com.curalate.datasourcemanagement.model.api.v1.DataSourceId
      - name: itemId
        in: path
        required: true
        schema:
          type: string
          example: fe502c92-e9b5-45ee-ad3a-429c1e94f9c4
          x-qualified-classname: com.curalate.services.deets.model.api.v1.DeetsItemId
        x-qualified-classname: com.curalate.services.deets.model.api.v1.DeetsItemId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportMediaRequestBody'
        required: false
      responses:
        '200':
          description: The operation completed successfully and yielded results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportMediaResponse'
        '400':
          description: The input parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: A requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: An unhandled exception has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '503':
          description: API is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
      x-codegen-request-body-name: body
  /v1/upload/{dataSourceId}:
    post:
      tags:
      - Upload
      summary: Upload media items
      parameters:
      - name: dataSourceId
        in: path
        required: true
        schema:
          type: string
          example: DKQGLerBTQCDXwNS
          x-qualified-classname: com.curalate.datasourcemanagement.model.api.v1.DataSourceId
        x-qualified-classname: com.curalate.datasourcemanagement.model.api.v1.DataSourceId
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                mediaItem:
                  type: string
                  format: binary
      responses:
        '200':
          description: The operation completed successfully and yielded results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '400':
          description: The input parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: A requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: An unhandled exception has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '503':
          description: API is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /v1/upload/{dataSourceId}/submit:
    post:
      tags:
      - Upload
      summary: Submits uploaded content
      parameters:
      - name: dataSourceId
        in: path
        required: true
        schema:
          type: string
          example: DKQGLerBTQCDXwNS
          x-qualified-classname: com.curalate.datasourcemanagement.model.api.v1.DataSourceId
        x-qualified-classname: com.curalate.datasourcemanagement.model.api.v1.DataSourceId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitMediaRequestBody'
        required: false
      responses:
        '200':
          description: The operation completed successfully and yielded results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitMediaResponse'
        '400':
          description: The input parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: A requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: An unhandled exception has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '503':
          description: API is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
      x-codegen-request-body-name: body
  /v1/upload/{dataSourceId}/video-status/{videoId}:
    get:
      tags:
      - Upload
      summary: Check on transcode job status for a given video
      parameters:
      - name: dataSourceId
        in: path
        required: true
        schema:
          type: string
          example: DKQGLerBTQCDXwNS
          x-qualified-classname: com.curalate.datasourcemanagement.model.api.v1.DataSourceId
        x-qualified-classname: com.curalate.datasourcemanagement.model.api.v1.DataSourceId
      - name: videoId
        in: path
        required: true
        schema:
          type: string
          example: EQEUI7bMI4nzMXM9hFKQ3gnQib5sLzez-dvyNk81Cf0=
          x-qualified-classname: com.curalate.global.model.types.video.VideoId
        x-qualified-classname: com.curalate.global.model.types.video.VideoId
      responses:
        '200':
          description: The operation completed successfully and yielded results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVideoStatusResponse'
        '400':
          description: The input parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: A requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: An unhandled exception has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '503':
          description: API is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /v1/instagram/media:
    get:
      tags:
      - Instagram
      summary: Retrieve Instagram media items for the user
      parameters:
      - name: accessToken
        in: query
        required: true
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthAccessToken
        x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthAccessToken
      - name: limit
        in: query
        schema:
          type: integer
          format: int64
          example: 10
      - name: before
        in: query
        schema:
          type: string
          example: '1234567894561231236_33215652'
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
      - name: after
        in: query
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
      responses:
        '200':
          description: The operation completed successfully and yielded results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInstagramMediaResponse'
        '400':
          description: The input parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: A requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: An unhandled exception has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '503':
          description: API is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /v1/facebook/media:
    get:
      tags:
      - Facebook
      summary: Retrieve Facebook media items for the user
      parameters:
      - name: accessToken
        in: query
        required: true
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthAccessToken
        x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthAccessToken
      - name: limit
        in: query
        schema:
          type: integer
          format: int64
          example: 10
      - name: before
        in: query
        schema:
          type: string
          example: '10152364594836729'
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
      - name: after
        in: query
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
      responses:
        '200':
          description: The operation completed successfully and yielded results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFacebookMediaResponse'
        '400':
          description: The input parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: A requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: An unhandled exception has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '503':
          description: API is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /v1/facebook/albums:
    get:
      tags:
      - Facebook
      summary: Retrieve Facebook media items for the user
      parameters:
      - name: accessToken
        in: query
        required: true
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthAccessToken
        x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthAccessToken
      - name: limit
        in: query
        schema:
          type: integer
          format: int64
          example: 10
      - name: before
        in: query
        schema:
          type: string
          example: '10152364594836729'
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
      - name: after
        in: query
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
      responses:
        '200':
          description: The operation completed successfully and yielded results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFacebookAlbumsResponse'
        '400':
          description: The input parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: A requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: An unhandled exception has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '503':
          description: API is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /v1/facebook/albums/{albumId}/media:
    get:
      tags:
      - Facebook
      summary: Retrieve Facebook media items from the specified album
      parameters:
      - name: albumId
        in: path
        required: true
        schema:
          type: string
      - name: accessToken
        in: query
        required: true
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthAccessToken
        x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthAccessToken
      - name: limit
        in: query
        schema:
          type: integer
          format: int64
          example: 10
      - name: before
        in: query
        schema:
          type: string
          example: '10152364594836729'
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
      - name: after
        in: query
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
        x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
      responses:
        '200':
          description: The operation completed successfully and yielded results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFacebookMediaResponse'
        '400':
          description: The input parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: A requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: An unhandled exception has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '503':
          description: API is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /v1/facebook/auth/{accessToken}/validation:
    get:
      tags:
      - Facebook
      summary: Validate a Facebook OAuth token
      parameters:
      - name: accessToken
        in: path
        required: true
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthAccessToken
        x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthAccessToken
      responses:
        '200':
          description: The operation completed successfully and yielded results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidTokenResponse'
        '400':
          description: The input parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: A requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: An unhandled exception has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '503':
          description: API is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /v1/instagram/auth/{accessToken}/validation:
    get:
      tags:
      - Instagram
      summary: Validate an Instagram OAuth token
      parameters:
      - name: accessToken
        in: path
        required: true
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthAccessToken
        x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthAccessToken
      responses:
        '200':
          description: The operation completed successfully and yielded results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidTokenResponse'
        '400':
          description: The input parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: A requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: An unhandled exception has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '503':
          description: API is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /v1/instagram/auth/{code}/exchange:
    get:
      tags:
      - Instagram
      summary: Exchange an Instagram auth code for a long-life token
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
          x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthCode
        x-qualified-classname: com.curalate.mediaapi.service.upload.model.oauth.OAuthCode
      - name: redirectUri
        in: query
        schema:
          type: string
      responses:
        '200':
          description: The operation completed successfully and yielded results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeCodeResponse'
        '400':
          description: The input parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: A requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: An unhandled exception has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '503':
          description: API is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /v1/structured-data/content:
    get:
      tags:
      - Structured Data
      summary: Get structured data for multiple galleries
      description: Returns Schema.org structured data for multiple galleries via GET. Response format depends on
        the Accept header.
      parameters:
      - name: q
        in: query
        required: true
        description: 'JSON object specifying gallery configurations. Must be URL-encoded.


          Format: {"galleries":[{"dataSourceId":"abc123","filter":"productId:SKU123","limit":10,"sort":"Latest"}]}


          Gallery config fields:

          - dataSourceId (required): Unique gallery ID

          - filter: Filters the requested content. Filters are composed of one or more key-value pairs combined
          with boolean operators and parenthetical groupings.

          - limit: Maximum number of items to return (default: 10)

          - sort: Sorts - Latest, Likes, Moderation, Optimized, LastUpdated

          - offset: Pagination offset

          - before/after: Cursor-based pagination

          - requireProduct: Only return items with products

          - networkSource: Filter by social network source

          - productMetadata: Additional product fields to include

          '
        schema:
          type: string
          example: '{"galleries":[{"dataSourceId":"DKQGLerBTQCDXwNS","limit":10}]}'
      - name: locale
        in: query
        description: Locale for product metadata
        schema:
          type: string
          example: en_US
      - name: canonical
        in: query
        description: Page canonical URL for @id injection in JSON-LD output. Max 2048 characters.
        schema:
          type: string
          example: https://brand.com/product
      - name: skipCache
        in: query
        description: Set to true to bypass edge caching
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Schema.org structured data in requested format (Script/JSON-LD/Microdata)
          content:
            application/ld+json:
              schema:
                type: string
            text/javascript:
              schema:
                type: string
            text/html:
              schema:
                type: string
        '400':
          description: The input parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: A requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: An unhandled exception has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /api/v1/version:
    get:
      tags:
      - Meta
      summary: Get the current running version of this server
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'
components:
  schemas:
    DataSourceId:
      required:
      - value
      type: object
      properties:
        value:
          type: string
    FilterQuery:
      required:
      - value
      type: object
      properties:
        value:
          type: string
    BookmarkQuery:
      required:
      - value
      type: object
      properties:
        value:
          type: string
    LocaleString:
      required:
      - value
      type: object
      properties:
        value:
          type: string
    ProductMetadataQuery:
      required:
      - value
      type: object
      properties:
        value:
          type: string
    AppId:
      required:
      - value
      type: object
      properties:
        value:
          type: string
    Clickthrough:
      required:
      - link
      type: object
      properties:
        link:
          type: string
    ContentSource:
      required:
      - lastUpdatedTimestamp
      - postedTimestamp
      - type
      type: object
      properties:
        type:
          type: string
        postedTimestamp:
          type: integer
          format: int64
        lastUpdatedTimestamp:
          type: integer
          format: int64
        moderationApprovalTimestamp:
          type: integer
          format: int64
        user:
          $ref: '#/components/schemas/NetworkUser'
        link:
          type: string
        caption:
          type: string
        commentCount:
          type: integer
          format: int64
        likeCount:
          type: integer
          format: int64
        repinCount:
          type: integer
          format: int64
        location:
          $ref: '#/components/schemas/LocationDetails'
        sourceId:
          type: string
        embedUrl:
          type: string
        viewCount:
          type: integer
          format: int64
    Cursors:
      type: object
      properties:
        before:
          type: string
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
        after:
          type: string
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.BookmarkQuery
    GetMediaResponse:
      required:
      - data
      - metadata
      - paging
      type: object
      properties:
        data:
          $ref: '#/components/schemas/MediaItemsData'
        metadata:
          $ref: '#/components/schemas/MediaApiMetadata'
        paging:
          $ref: '#/components/schemas/MediaApiPaging'
    Image:
      required:
      - link
      type: object
      properties:
        link:
          type: string
    LocationDetails:
      type: object
      properties:
        name:
          type: string
        longitude:
          type: number
          format: double
        latitude:
          type: number
          format: double
    MediaApiMetadata:
      required:
      - traceId
      type: object
      properties:
        traceId:
          type: string
        requestId:
          type: string
        firstPartyCuid:
          type: string
        curalateUserId:
          type: string
        customCuralateUserId:
          type: string
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.CustomCuralateUserId
        pdpMetadata:
          $ref: '#/components/schemas/PdpMetadata'
    MediaApiPaging:
      required:
      - cursors
      type: object
      properties:
        cursors:
          $ref: '#/components/schemas/Cursors'
        previous:
          type: string
          format: url
        next:
          type: string
          format: url
    MediaItem:
      required:
      - id
      - labels
      - products
      - source
      type: object
      properties:
        id:
          type: string
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.MediaItemId
        source:
          $ref: '#/components/schemas/ContentSource'
        media:
          $ref: '#/components/schemas/NetworkMedia'
        products:
          type: array
          items:
            $ref: '#/components/schemas/ProductDetails'
        labels:
          uniqueItems: true
          type: array
          items:
            type: string
        voteCount:
          type: integer
          format: int64
        clickthrough:
          $ref: '#/components/schemas/Clickthrough'
    MediaItemsData:
      required:
      - items
      - resultsCount
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/MediaItem'
        resultsCount:
          type: integer
          format: int64
    NetworkGif:
      allOf:
      - $ref: '#/components/schemas/NetworkMedia'
      - required:
        - id
        - original
        type: object
        properties:
          id:
            type: string
          original:
            $ref: '#/components/schemas/Image'
          type:
            type: string
    NetworkMedia:
      type: object
      discriminator:
        propertyName: type
    NetworkPhoto:
      required:
      - extraLarge
      - extraLargeSquare
      - id
      - large
      - largeSquare
      - medium
      - mediumSquare
      - original
      - small
      - smallSquare
      type: object
      properties:
        id:
          type: string
        original:
          $ref: '#/components/schemas/Image'
        small:
          $ref: '#/components/schemas/Image'
        medium:
          $ref: '#/components/schemas/Image'
        large:
          $ref: '#/components/schemas/Image'
        extraLarge:
          $ref: '#/components/schemas/Image'
        smallSquare:
          $ref: '#/components/schemas/Image'
        mediumSquare:
          $ref: '#/components/schemas/Image'
        largeSquare:
          $ref: '#/components/schemas/Image'
        extraLargeSquare:
          $ref: '#/components/schemas/Image'
        type:
          type: string
    NetworkUser:
      type: object
      properties:
        username:
          type: string
        displayName:
          type: string
        link:
          type: string
        image:
          $ref: '#/components/schemas/ThumbnailPhoto'
        followerCount:
          type: integer
          format: int64
        followingCount:
          type: integer
          format: int64
    NetworkVideo:
      allOf:
      - $ref: '#/components/schemas/NetworkMedia'
      - required:
        - highQuality
        - lowQuality
        - original
        type: object
        properties:
          original:
            $ref: '#/components/schemas/Video'
          highQuality:
            $ref: '#/components/schemas/Video'
          lowQuality:
            $ref: '#/components/schemas/Video'
          captionsLink:
            type: string
          poster:
            $ref: '#/components/schemas/NetworkPhoto'
          type:
            type: string
    PdpMetadata:
      type: object
      properties:
        curalateProductId:
          type: string
        curalateStyleId:
          type: string
    Price:
      required:
      - display
      type: object
      properties:
        display:
          type: string
        value:
          type: number
        currencySymbol:
          type: string
        currencyCode:
          type: string
        saleValue:
          type: number
        saleDisplay:
          type: string
        isOnSale:
          type: boolean
    ProductDetails:
      required:
      - id
      - images
      - link
      - metadata
      - name
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        images:
          type: array
          items:
            $ref: '#/components/schemas/NetworkPhoto'
        price:
          $ref: '#/components/schemas/Price'
        link:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: string
        spatialTag:
          $ref: '#/components/schemas/SpatialTag'
        reviewStatistic:
          $ref: '#/components/schemas/ReviewStat'
    ReviewStat:
      required:
      - overallRatingRange
      type: object
      properties:
        averageOverallRating:
          type: object
          properties: {}
        totalReviewCount:
          type: object
          properties: {}
        overallRatingRange:
          type: integer
          format: int32
        productId:
          type: string
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.ExternalId
    SpatialTag:
      required:
      - label
      - x
      - y
      type: object
      properties:
        x:
          type: number
          format: double
        y:
          type: number
          format: double
        label:
          type: string
    ThumbnailPhoto:
      required:
      - medium
      - mediumSquare
      - original
      - small
      - smallSquare
      type: object
      properties:
        original:
          $ref: '#/components/schemas/Image'
        small:
          $ref: '#/components/schemas/Image'
        medium:
          $ref: '#/components/schemas/Image'
        smallSquare:
          $ref: '#/components/schemas/Image'
        mediumSquare:
          $ref: '#/components/schemas/Image'
    Video:
      required:
      - link
      type: object
      properties:
        link:
          type: string
    ErrorPayload:
      required:
      - code
      - errorId
      type: object
      properties:
        code:
          type: string
          enum:
          - Unknown
          - MediaApiBadRequest
          - InvalidInput
        errorId:
          type: string
          format: uuid
        msg:
          type: string
        data:
          type: object
          properties: {}
    DeetsItemId:
      required:
      - value
      type: object
      properties:
        value:
          type: string
    GetMediaItemResponse:
      required:
      - data
      - metadata
      type: object
      properties:
        data:
          $ref: '#/components/schemas/MediaItemData'
        metadata:
          $ref: '#/components/schemas/MediaApiMetadata'
    MediaItemData:
      required:
      - item
      type: object
      properties:
        item:
          $ref: '#/components/schemas/MediaItem'
    GetRecommendedMediaResponse:
      required:
      - items
      - metadata
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/MediaItem'
        metadata:
          $ref: '#/components/schemas/MediaApiMetadata'
    ReportMediaRequestBody:
      required:
      - message
      - sourceUrl
      - userEmail
      type: object
      properties:
        message:
          type: string
        userEmail:
          type: string
        sourceUrl:
          type: string
    ReportMediaResponse:
      required:
      - metadata
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/MediaApiMetadata'
    UploadData:
      required:
      - images
      - videos
      type: object
      properties:
        images:
          type: array
          items:
            $ref: '#/components/schemas/NetworkPhoto'
        videos:
          type: array
          items:
            $ref: '#/components/schemas/UploadVideoResponse'
    UploadError:
      required:
      - message
      - multipartItemName
      type: object
      properties:
        multipartItemName:
          type: string
        fileName:
          type: string
        message:
          type: string
          x-qualified-classname: com.curalate.mediaapi.model.api.v1.ErrorMessage
    UploadResponse:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UploadData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/UploadError'
    UploadVideoResponse:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          x-qualified-classname: com.curalate.global.model.types.video.VideoId
    SubmitMediaRequestBody:
      required:
      - emailAddress
      - emailOptIn
      - media
      - mediaContainerId
      - mediaContainerType
      type: object
      properties:
        mediaContainerType:
          type: string
          enum:
          - Like2Buy
          - Fanreel
          - Reveal
          - All
          - DynamicLandingPage
          - Like2BuyV2
        mediaContainerId:
          type: string
        displayName:
          type: string
        emailAddress:
          type: string
        emailOptIn:
          type: boolean
        media:
          type: array
          items:
            $ref: '#/components/schemas/SubmittedMedia'
        additionalData:
          type: object
          additionalProperties:
            type: object
            properties: {}
    SubmittedMedia:
      required:
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - Image
          - Video
        curalateMediaId:
          type: string
        url:
          type: string
          format: url
        posterUrl:
          type: string
          format: url
        caption:
          type: string
    SubmitMediaResponse:
      required:
      - metadata
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/MediaApiMetadata'
    VideoId:
      required:
      - value
      type: object
      properties:
        value:
          type: string
    GetVideoStatusResponse:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/VideoProcessingStatusData'
    VideoProcessingStatusData:
      required:
      - video
      type: object
      properties:
        video:
          $ref: '#/components/schemas/VideoProcessingVideo'
    VideoProcessingVersion:
      required:
      - height
      - quality
      - url
      - width
      type: object
      properties:
        quality:
          type: string
          enum:
          - Original
          - FullHD
          - Standard
          - Low
          - VerticalVideo1500FitPad
          - VerticalVideo1500FillPad
          - VerticalVideo1500Pad
          - Unknown
        url:
          type: string
        width:
          type: integer
          format: int32
        height:
          type: integer
          format: int32
        chaptersInMillis:
          type: array
          items:
            type: integer
            format: int64
    VideoProcessingVideo:
      required:
      - posterFileId
      - versions
      - videoId
      type: object
      properties:
        videoId:
          type: string
        posterFileId:
          type: string
        duration:
          type: integer
          format: int64
        versions:
          type: array
          items:
            $ref: '#/components/schemas/VideoProcessingVersion'
    OAuthAccessToken:
      required:
      - value
      type: object
      properties:
        value:
          type: string
    ExternalMedia:
      required:
      - id
      - link
      - type
      type: object
      properties:
        caption:
          type: string
        id:
          type: string
        link:
          type: string
          format: url
        posterImageLink:
          type: string
          format: url
        type:
          type: string
    GetInstagramMediaData:
      required:
      - items
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ExternalMedia'
    GetInstagramMediaResponse:
      required:
      - data
      - paging
      type: object
      properties:
        data:
          $ref: '#/components/schemas/GetInstagramMediaData'
        paging:
          $ref: '#/components/schemas/MediaApiPaging'
    GetFacebookMediaData:
      required:
      - items
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ExternalMedia'
    GetFacebookMediaResponse:
      required:
      - data
      - paging
      type: object
      properties:
        data:
          $ref: '#/components/schemas/GetFacebookMediaData'
        paging:
          $ref: '#/components/schemas/MediaApiPaging'
    FacebookAlbum:
      required:
      - id
      - name
      type: object
      properties:
        name:
          type: string
        id:
          type: string
    GetFacebookAlbumsData:
      required:
      - albums
      type: object
      properties:
        albums:
          type: array
          items:
            $ref: '#/components/schemas/FacebookAlbum'
    GetFacebookAlbumsResponse:
      required:
      - data
      - paging
      type: object
      properties:
        data:
          $ref: '#/components/schemas/GetFacebookAlbumsData'
        paging:
          $ref: '#/components/schemas/MediaApiPaging'
    ValidTokenResponse:
      type: object
    OAuthCode:
      required:
      - value
      type: object
      properties:
        value:
          type: string
    ExchangeCodeResponse:
      required:
      - accessToken
      - userId
      type: object
      properties:
        accessToken:
          type: string
        userId:
          type: string
        username:
          type: string
    VersionResponse:
      required:
      - version
      type: object
      properties:
        version:
          type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      name: X-Curalate-Api-Key
      in: header
